<%= form_with(model: beer_club) do |form| %>
  <% if beer_club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
        <% beer_club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="mb-3">
  <label for="beer_club_name" class="form-label">Name</label>
    <input type="text" class="form-control" id="beer_club_name">
  </div>

  <div class="mb-3">
  <label for="founded" class="form-label">Founded</label>
    <input type="text" class="form-control" id="founded">
  </div>

  <div class="mb-3">
  <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %>
