<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }%> </li>
 <% end %>
</ul>

<p>Number of ratings: <%= @ratings.count %></p>

<%= link_to "New rating", ratings_new_path %>
